<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/accounts/static/initsignup.css">
</head>
<body>
    <div class="container">
        <h2>Sign Up</h2>
        <div class="options">
            <button class="google-btn">Sign Up with Google</button>
            <a href="signup.html" class="btn phone-email">Sign Up with Phone/Email</a>
        </div>
    </div>
</body>
</html>
