<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'signup.css' %}">
</head>
<body>
    <div class = 'main-container'>
    <div class="container">
        <h2>Sign Up</h2>
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>
            <button type="submit" class="btn signupbtn">Sign Up</button>
        </form>
    </div>
    <div class="signup-section">
        <p>I already have an account.</p>
        <button class="signupbtn" type="submit" onclick="window.location.href = 'login.html';">Log In</button>
    </div>
    </div>
    <script src="{% static 'signup.js' %}"></script>
</body>
</html>
